.patient-profile-image {
	padding: 5px;
	max-width: 80px;
	max-height: 80px;
	display: inline;
}

.hide, 
span[id^="var-"], 
.skubbs_loading, 
.skubbs_input, 
div[id^="patient_now_"]
{
    display: none;
}

.padding10 { padding: 10px; }

/*div[id$="-loading"], a[class*="skubbs_btn-cancel"], a[class*="skubbs_btn-save"] {
    display: none;
}*/

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}